<input type="button" name="details" value="Create A Restaurant" class="btn" [routerLink]="['../create']" />



<!--<input type="button" name="details" class="btn" [routerLink]="['../details/'+restaurant._id]" value="Details" ><br/>-->
<!--<input type="button" name="details" class="btn" [routerLink]="['../details/']" value="Details" ><br/>-->
<!--<input type="button" name="edit" class="btn" [routerLink]="['../edit/'+restaurant._id]" value="Edit" ><br/>-->
<!--<input type="button" name="edit" class="btn" [routerLink]="['../edit/']" value="Edit" ><br/>-->

<div style="text-align:center">
  <h1>
Restaurants
  </h1>


  <div *ngIf="list_of_all_the_things">
    <table class="table">
      <thead>
      <td>
        Name
      </td>
      <td>
        type
      </td>
      <td>
        description
      </td>
      <td>
        action
      </td>
      </thead>
      <tr *ngFor="let restaurant of list_of_all_the_things">
        <td>
          {{restaurant.restaurant_name}}
        </td>
        <td>
          {{restaurant.cuisine_type}}
        </td>
        <td>
          {{restaurant.description}}
        </td>
        <td>
          <button name="details" class="table-btn" [routerLink]="['../details/'+restaurant._id]" value="Read Reviews" >Details</button>
          <button name="edit" class="table-btn" [routerLink]="['../edit/'+restaurant._id]" value="Update" >Update</button>
          <button name="delete" class="table-btn" (click)="deleteRestaurant(restaurant._id)" value="Delete" >Delete</button>
          <!--<input type="button" name="details" class="table-btn btn" [routerLink]="['../details/'+restaurant._id]" value="Details" ><br/>-->
          <!--<input type="button" name="edit" class="table-btn btn" [routerLink]="['../edit/'+restaurant._id]" value="Edit" ><br/>-->
          <br/>
          <!--{{restaurant._id}}-->
        </td>
      </tr>


    </table>


</div>
