<input type="button" name="details" value="Register pet" class="btn" [routerLink]="['../create']" />



<!--<input type="button" name="details" class="btn" [routerLink]="['../details/'+pet._id]" value="Details" ><br/>-->
<input type="button" name="details" class="btn" [routerLink]="['../details/']" value="Details" ><br/>
<!--<input type="button" name="edit" class="btn" [routerLink]="['../edit/'+pet._id]" value="Edit" ><br/>-->
<input type="button" name="edit" class="btn" [routerLink]="['../edit/']" value="Edit" ><br/>

<div style="text-align:center">
  <h1>
Home component
  </h1>
</div>
